$topnav-background-color: #4a4a4a;
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 58px;
    left: 242px;
    width: 242px;
    margin-left: -242px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);
    .sidebar-welcome-admin {
        display: inline-block;
        width: 100%;
        .welcome-admin-img img {
            border-radius: 200px;
        }
        h5 {
            font-weight: 600;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            padding: 10px 15px;
        }
    }
    .list-group {
        border-top: 1px solid rgba(62, 62, 62, 1);
        font-size: 15px;
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-bottom: 1px solid rgba(62, 62, 62, 1);
            border-radius: 0;
            color: #999;
            text-decoration: none;
            margin-bottom: 0px;
            i.icons {
                float: left;
                margin-right: 3px;
                margin-top: 2px;
            }
        }
        a:hover { 
            background: darken($topnav-background-color, 4.9%);
            color: #fff;
        }
        a.router-link-active {
            background: darken($topnav-background-color, 4.9%);
            color: #00a652;
            font-weight: 600;
        }
        a:hover:before,
        a.router-link-active:before {
            position: absolute;
            width: 4px;
            height: 100%;
            background-color: #00a652;
            content: "";
            left: 0;
            top: 0;
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: .75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radious: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #FFF;
                    }
                }
                .list-group-item:hover {
                    background: darken($topnav-background-color, 5%);
                }
            }
        }
    }
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #FFF;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sidebar-admin {
        top: 54px;
        left: 0px;
    }
}