.main-container {
    margin-top: 20px;
    // margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.managesubmit {
    cursor: pointer;
}
.upload-file-btn {
    width: 100px;
    height: 140px;
    text-align: center;
    margin-left: 10px;
}

.upload-file-btn-in {
    background-color: azure;
    border: 2px solid #1FC1F1;
    position: relative;
    margin-bottom: 5px;
    input[type="file"] {
        opacity: 0;
        width: 96px !important;
        height: 100px !important;
        margin: 0px;
        padding: 0px;
        z-index: 2;
        position: relative;
        cursor: pointer;
    }
    .upload-icon {
        position: absolute;
        left: 0px;
        top:0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        button {
            background-color: transparent;
            border: 0px !important;
            width: 100%;
            height: 100%;
            padding: 0px !important;
            .mat-icon {
                font-size: 35px;
                color: #484848;
                width: auto;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}