<!-- Footer Section Start -->
<footer class="footer">
        <div class="footer-top d-flex flex-column">
            <div class="container-fluid pl-0 pr-0 mt-auto mb-auto">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-4">
                        <div class="row h-100 no-gutters">
                            <div class="col-md-12">
                                <div class="footer-logo h-100 p-4 text-center"><a href="http://jbsolutions.in/" target="_blank" class="d-flex h-100 text-center"><img src="assets/images/footer-logo.png" class="img-fluid mt-auto mb-auto ml-auto mr-auto" /></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8">
                            <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="p-4">
                                            <h6>Give Us a Call</h6>
                                            <div class="footer-contact-details give-us-call">
                                                <h6 class="mb-0">Give Us a Call</h6>
                                                <p class="mb-0">+91 79 26422134</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="p-4">
                                            <h6>Email Us</h6>
                                            <div class="footer-contact-details give-your-feedback">
                                                <h6 class="mb-0"><a href="mailto:contact@jbsolutions.in" target="_blank">contact@jbsolutions.in</a></h6>
                                                <p class="mb-0">Help Us Improve!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="p-4">
                                            <h6>Services And Support</h6>
                                            <div class="footer-contact-details services-and-support">
                                                <h6 class="mb-0">Help Us Improve!</h6>
                                                <p class="mb-0">Get Your Doubts Cleared</p>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-lg-6 col-md-4 col-sm-6">
                                        <div class="p-4">
                                            <h6>Office Address</h6>
                                            <div class="footer-contact-details office-address">
                                                <h6 class="mb-0"><a href="https://www.google.co.in/maps/place/Jain+Bhavesh+Solutions/@23.0366868,72.559448,18.25z/data=!4m12!1m6!3m5!1s0x395e84f315eec0fb:0xd253e2d3038a4fd0!2sJain+Bhavesh+Solutions!8m2!3d23.0366431!4d72.5600705!3m4!1s0x395e84f315eec0fb:0xd253e2d3038a4fd0!8m2!3d23.0366431!4d72.5600705?hl=en&authuser=0" target="_blank">Location Map</a></h6>
                                                <!-- <p class="mb-0">Office Address</p> -->
                                                <p class="mb-0">304 Shukan Business Center, Swastik Cross Road,<br> C G Road, Ahmedabad 380009, Gujarat India</p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center pt-3 pb-3 pt-md-5 pb-md-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-menu-item mb-2">
                            <ul>
                                <li><a href="http://jbsolutions.in/">Home</a></li>
                                <li><a href="http://jbsolutions.in/about_us.html">Company</a></li>
                                <li><a href="http://jbsolutions.in/services.html">Services</a></li>
                                <li><a href="http://portfolio.jbsolutions.in/">Portfolio</a></li>
                                <li><a href="http://jbsolutions.in/careers.html">Careers</a></li>
                                <li><a href="http://jbsolutions.in/contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-media mt-md-2 mb-md-2">
                            <ul>
                                <li><a href="https://www.facebook.com/JBSolutionsIndia/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/jbsolutions2008" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/jb-solutions-782292158/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">                            
                        <p class="copyright-message mt-2 mb-0">© 2008-2018 Jain Bhavesh Solutions. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- <div class="get-in-touch-section position-fixed">
                <div class="get-in-touch-section-in">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="get-in-touch-form collapse" id="GetInTouchForm"  [ngbCollapse]="isCollapsed">
                                <div class="get-in-touch-form-header">
                                    <h5 class="mb-0 text-white d-inline-block">Request For Proposal</h5>
                                    <i class="icon ion-android-close h5 mb-0 float-right text-white" data-target="#GetInTouchForm" aria-controls="GetInTouchForm" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"></i>
                                </div>
                                <div class="get-in-touch-form-in">
                                    <form role="form" [formGroup]="RequestforProposalControlList">
                                        <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="form-group mb-0" style="margin-bottom:0px !important;">
                                                    <input matInput class="form-control mb-2" placeholder="Full Name" formControlName="fullname" type="text" [(ngModel)]="manageRequestforProposal.fullname" maxlength="255">
                                            </mat-form-field>
                                            <control-messages [labelName]="'Full Name'" [isSubmitButtonClicked]="isSubmitButtonClicked"[control]="RequestforProposalControlList.controls.fullname"></control-messages>                                           
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field class="form-group mb-0" style="margin-bottom:0px !important;">
                                                    <input matInput class="form-control mb-2" placeholder="Company Name" formControlName="companyname" type="text" [(ngModel)]="manageRequestforProposal.companyname" maxlength="255">
                                            </mat-form-field>
                                            <control-messages [labelName]="'Company Name'" [isSubmitButtonClicked]="isSubmitButtonClicked" [control]="RequestforProposalControlList.controls.companyname"></control-messages>                                           
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field class="form-group mb-0" style="margin-bottom:0px !important;">
                                                    <input matInput class="form-control mb-2" placeholder="Email" formControlName="email" type="text" [(ngModel)]="manageRequestforProposal.email" maxlength="255">
                                            </mat-form-field>
                                            <control-messages [labelName]="'Email'" [isSubmitButtonClicked]="isSubmitButtonClicked" [control]="RequestforProposalControlList.controls.email"></control-messages>                                           
                                        </div>                                        
                                        <div class="col-md-12">
                                                <mat-form-field class="form-group mb-0" style="margin-bottom:0px !important;">
                                                        <input matInput class="form-control mb-2" placeholder="Phone Number" formControlName="phonenumber" type="text" [(ngModel)]="manageRequestforProposal.phonenumber" maxlength="255">
                                                </mat-form-field>
                                                <control-messages [labelName]="'Phone Number'" [isSubmitButtonClicked]="isSubmitButtonClicked" [control]="RequestforProposalControlList.controls.phonenumber"></control-messages>                                           
                                        </div>
                                        <div class="col-md-12">                                           
                                           <div class="custom-file mb-2">
                                               <input class="form-control custom-file-input" (change)="uploadFileChangeEvent($event)" name="single" formControlName="uploadeddocument" type="file" [(ngModel)]="manageRequestforProposal.uploadeddocument">
                                               <label class="custom-file-label" for="validatedCustomFile">{{uploadedDocuments}}</label>
                                           </div>                                                                                                
                                       </div>
                                        <div class="col-md-12">
                                                <mat-form-field class="form-group mb-0" style="margin-bottom:0px !important;">
                                                        <textarea matInput class="form-control mb-2" placeholder="Comments" cols="5" rows="5" formControlName="comments" type="text" [(ngModel)]="manageRequestforProposal.comments" maxlength="1000"></textarea>
                                                </mat-form-field>
                                                <control-messages [labelName]="'Comments'" [isSubmitButtonClicked]="isSubmitButtonClicked" [control]="RequestforProposalControlList.controls.comments"></control-messages>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button type="submit" [disabled]="isSubmitButtonClicked" (click)="submitProposal(modelPopup)" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" class="btn btn-md btn-extra-gradient text-white mt-2 pl-3 pr-3"><span class="float-left mr-2">Submit <i *ngIf="isSubmitButtonClicked" class="fa fa-spinner fa-spin" style="font-size:18px"></i> </span></button>
                                        </div>                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <a href="javascript:void(0)" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="btn get-in-touch-btn text-uppercase rounded-circle mb-4 collapsed" data-target="#GetInTouchForm" aria-controls="GetInTouchForm">
                                
                                <img src="assets/images/request-for-proposal.png">                                
                            </a>
                        </div>                        
                    </div>               
                </div>                
            </div>            
            </div> -->


            <ng-template #modelPopup let-c="close" let-d="dismiss" layout="row" layout-align="center center">
                <div class="modal-content border-0">
                   
                    <div class="modal-body">
                        <div class="p-2 text-center">
                            <p>{{lblResponseMessage}}</p>
                            <p>
                                <a class="btn btn-md btn-danger-gradient text-uppercase text-white mt-2 pl-4 pr-4" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                                    <span class="float-left mr-2" style="margin-top:2px;">Ok</span>
                                </a>
                        </p>
                        </div>
                    </div>
                </div>
            </ng-template>