<!-- <nav class="sidebar-employee" [ngClass]="{sidebaremployeePushRight: isActive}">
    <div class="animated fadeIn sidebar-welcome-employee">
        <div class="welcome-admin-img align-center mt-4 mb-3"> <img src="assets/images/JBSolitions_Logo.png" width="57%" class="form-logo-title img-responsive" /></div>
        <h5 class="text-uppercase mb-3">User Name </h5>
    </div>
    <ul class="list-group">
        <a [routerLink]="['/user/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">{{ 'Dashboard'}}</a> -->
<!-- <a [routerLink]="['/user/open-source-project']" [routerLinkActive]="['router-link-active']" class="list-group-item">{{ 'Open Source Projects' }}</a>
        <a [routerLink]="['/user/microsoft-project']" [routerLinkActive]="['router-link-active']" class="list-group-item">{{ 'Microsoft Projects' }}</a>
        <a [routerLink]="['/user/software-project']" [routerLinkActive]="['router-link-active']" class="list-group-item">{{ 'Software Application'}} </a>
        <a [routerLink]="['/user/application-project']" [routerLinkActive]="['router-link-active']" class="list-group-item">{{ 'Mobile Application'}} </a>
        <a [routerLink]="['/user/design-project']" [routerLinkActive]="['router-link-active']" class="list-group-item">{{ 'Designs'}} </a> -->
<!-- <a href="jvascript:void(0)" [routerLinkActive]="['router-link-active']" (click)="onLoggedout()" class="list-group-item">Logout</a>
    </ul>

</nav> -->